body {
	margin: 0 auto;
	background-image: URL(images/ep_naturalwhite.png) !important;
    font-family: Helvetica, sans-serif;
    border: 0;
    width: 980;
}

.navbar{
    background-color: white;
    height: 90px;
    font-family: Times, serif;
}

.navbar-brand {
    background-color: #4aaaa5 !important;
    width: auto;
    padding: 13px;
    float: left;
    margin-left: 132px;
}

.navbar-item{
    float: left auto;
    margin-left: 114px;
    font-size: 20px;
    width: auto;
    padding: 10px;
}

.index {
    border-right: 1px solid #cccccc;
    width: 32%;
    margin-left: 13px; 
}

.portfolio {
    border-right: 1px solid #cccccc;
    width: 32%;
    margin-left: 13px;
}

.contact {
    
    width: 32%;
    margin-left: 13px;  
}

.picture {
    padding: 20px;
    margin-top: 20px;
}

.footer {
    position: fixed; 
    bottom: 0;
	height: 40px;
	background-color: #666666;
	width: 100%;
	border-top: 10px solid #4aaaa5;