body {
	margin: 0 auto;
	background-image: URL(../images/ep_naturalwhite.png) !important;
    font-family: Helvetica, sans-serif;
    background-color: blue;

}

.navbar{
    background-color: grey;
    height: 90px;
    font-family: Times, serif;
    margin-top: 10px;
}

.navbar-brand {
    background-color: #4aaaa5 !important;
    width: auto 10%;
    padding: 10px;
    margin-top: 0;
    float: left;
    margin-left: 100px;
}

.navbar-item{
    text-align: right;
    float: right;
    margin-right: 130px;
    font-size: 25px;
    width: auto;
    
}

.index {
    border-right: 1px solid #cccccc;
    float: left;
    width: auto 15%;
    padding: 10px;
}

.portfolio {
    border-right: 1px solid #cccccc;
    float: left;
    width: auto 15%;
    padding: 10px;
}

.contact {
    border-right: 1px solid #cccccc;
    float: left;
    width: auto 15%;
    padding: 10px;
}

.about-me {
    background-color: green;
}