body {
	margin: 0 auto;
	background-image: URL(images/ep_naturalwhite.png) !important;
    font-family: Helvetica, sans-serif;
    border: 0;
    width: 980;
}

.navbar{
    background-color: white;
    height: 90px;
    font-family: Times, serif;
    border-bottom: 10px solid #cccccc;
}

.navbar-brand {
    background-color: #4aaaa5 !important;
    width: auto;
    padding: 8px;
    float: left;
    margin-left: 132px;
    color: white;
}

.navbar-item{
    float: left auto;
    margin-left: 114px;
    font-size: 20px;
    width: auto;
    padding: 10px;
    
}

.index {
    border-right: 1px solid #cccccc;
    width: 32%;
    margin-left: 13px; 
}

.portfolio {
    border-right: 1px solid #cccccc;
    width: 32%;
    margin-left: 13px;
}

.contact {
    width: 32%;
    margin-left: 13px;  
}

.picture {
    padding: 20px;
    margin-top: 20px;
}

.footer {
    position: fixed; 
    bottom: 0;
	height: 40px;
	background-color: #666666;
	width: 100%;
    border-top: 10px solid #4aaaa5;
}
    
.placeholder1{
    position: absolute;
    background-color: #4aaaa5;
    bottom: 8px;
    left:8px;
    width: 90%;
    height: 30px;
}

.placeholder{
	text-align: center;
	margin-top: 8px;
}

.container1{
	position: relative;
	text-align:center;
	color: white;
    float: left;
    padding: 5px;
}